.portfolio-container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #808080;
    color: white;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: #FF4081;
    color: white;
}

.tag {
    font-size: 10px;
    background-color: #f1f1f1;

}

.tag,
.btn {
    padding: 3px 5px;
    margin: 2px 0;
    border-radius: 5px;
    font-family: century-gothic,sans-serif;
    white-space: nowrap;
}