html, body {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  line-height: 25px;
}

#title {
  color: #1E1E1E;
  font-size: 60pt;
  font-family: source-code-pro, monospace;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 30px 0;
  display: flex;
  align-items: center; 
  justify-content: center;
}

#title > img {
  margin: 0;
  padding: 0;
}

h1 > span {
  color: #FF4081;
}

h3 {
  font-size: 24px;
}

h4 {
  margin: 0;
}

header,
footer {
  background-color: #8CDCFE;
  width: 100%;
  text-align: center;
}

footer {
  bottom: 0;
  max-height: 50px;
  position: fixed;
}

#nav {
  padding: 15px 0;
}

#nav a {
  padding: 14px 23px;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .01em;
  color: #FF4081;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
} 

a {
  text-decoration: none;
}

.social-media a {
  padding: 10px;
  color: #FF4081;
  bottom: 0px;
}

img {
  max-width: 100%;
  max-height: 400px;
}

.portfolio-container {
  margin: 0 100px;
  text-align: center;
}

.portfolio-item {
  margin: 0 50px;
  display: inline-block;
}

.portfolio-item > h3 > a {
  font-weight: bold;
  text-transform: uppercase;
  color: #569CCA;
}

/*

.grey-link,
.grey-link > a {
  color: #333333;
  text-decoration: none;
}

.grey-link:hover {
  color: #887878;
}

.portfolio-container {
  margin: 0 100px;
}

.portfolio-container p {
  font-size: 15px;
}

.portfolio-item {
  margin: 1.5%;
  text-align: center;
}

.portfolio-item > h3 {
  display: block;
}

.portfolio-item > h3 > a {
  font-weight: bold;
  text-transform: uppercase;
  color: #569CCA;
}

.img-wrap-left { 
  float: left;  
  margin: 5px 20px 0 0; 
}

.img-wrap-center {
  display: block;
  text-align: center;
}

.example {
  background-color: #f7f7f7;
  width: 400px;
  padding: 15px;
}

.example p {
  font-size: 13px;
}

 */

/* .meta-item {
  max-width: 30%;
  padding: 10px;
}

.missingness-item {
  max-width: 100%;
  max-height: 400px;
}

.ceramics-item:hover,
.drawings-item:hover,
.black-data-item:hover {
  transform: scale(2.0);
  padding: 10px;
  margin: 0 auto;
} */