/* Add a black background color to the top navigation */
.nav {
    background-color: #FFFFFF;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Quattrocento Sans', sans-serif;

    color: #333333;
    position: relative;
    display: block;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-weight: 400;
    line-height: 19px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: white;
    color: #ee1d93;
  }
  
  
  /* Add a color to the active/current link */
  .nav a.active {
      color: grey;
  }

  /* title styling */
  .page-title {
      display: block;
      max-width: 500;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      vertical-align: top;
      text-align: center;
      color: #000000;
      letter-spacing: .04em;
      font-weight: 700;
      line-height: normal;
  }

  body,
  .grey-link {
    background: #ffffff;
    color: #3e3e3e;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.p-container,
.img-container {
  margin-bottom: 10px;
  padding: 25px 100px 25px 100px;
}

.grey-link:hover {
  color: #887878;
}

#footer {
  display:block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  color: white;
  text-align: center;
}

.footer-icon a {
  margin: 5px;
}