html, body {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  line-height: 25px;
}

/* Style the links inside the navigation bar */
.nav a {
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Quattrocento Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .07em;
  font-weight: 400;
  line-height: 19px;
  color: #FF4081;
  display: block;
}

/* Change the color of links on hover */
.nav a:hover {
  text-decoration: underline #FF4081;
}
  
/* Add a color to the active/current link */
/* .nav a.active {
  color: #FF4081;
} */
  
body,
.grey-link,
.grey-link > a {
  color: #333333;
    text-decoration: none;
}

.portfolio-container {
  margin: 0 100px;
}

.portfolio-container p {
  font-size: 15px;
}

.portfolio-item {
  display: inline-block;
  width: 27%;
  margin: 1.5%;
  text-align: center;
}

.portfolio-item > h3 {
  display: block;
}

.portfolio-item > h3 > a {
  font-weight: bold;
  text-transform: uppercase;
  color: #569CCA;
}

.grey-link:hover {
  color: #887878;
}

#footer {
  display: block;
  bottom: 0;
  max-height: 50px;
  position: fixed;
  text-align: center;
}

#header,
#footer {
  background-color: #8CDCFE;
  width: 100%;
}

.social-media a {
  padding: 10px;
  color: #FF4081;
  text-decoration: none;
  bottom: 0px;
}

.img-wrap-left { 
  float: left;  
  margin: 5px 20px 0 0; 
}

.img-wrap-center {
  display: block;
  text-align: center;
}

.example {
  background-color: #f7f7f7;
  width: 400px;
  padding: 15px;
}

.example p {
  font-size: 13px;
}

h4 {
  margin: 0;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

img {
  max-width: 100%;
  max-height: 200px;
}

.meta-item {
  max-width: 30%;
  padding: 10px;
}

.gif {
  width: 700px;
  height: 400px;
}

.missingness-item {
  max-width: 100%;
  max-height: 400px;
}

.ceramics-item:hover,
.drawings-item:hover,
.black-data-item:hover {
  transform: scale(2.0);
  padding: 10px;
  margin: 0 auto;
}
