.Body {
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 30vw));
    padding: $appPadding;
    margin: $appMargin;
}

.visual {
    height: 100px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
    justify-content: space-between;
}

.card img {
    margin: $appMargin;
    // padding: $appPadding;
    max-height: 50vh;
}

// https://css-tricks.com/snippets/css/typewriter-effect/
.c1{
    display: inline-block;
  }
  .c2{
    display: inline-block;
  }
  .c3{
    display: inline-block;
  }
  .c4{
    display: inline-block;
  }
 
  p .type{
      font-size: 2.5rem;
      overflow: hidden;
      border-right: .15em solid orange;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
  }
  p .type2{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid orange;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 1s;
  }
  p .type3{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid orange; 
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 2s;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }