.Body {
    // display: grid;
    // grid-gap: .75rem;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 30vw));
    padding: $appPadding;
    margin: $appMargin;
    display: flex;
    flex-direction: column;
}

.visual {
    height: 100px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
    justify-content: space-between;
}

.card img {
    margin: $appMargin;
    // padding: $appPadding;
    max-height: 50vh;
}

// adapted from https://codepen.io/SitePoint/pen/YzxKGpa?editors=0100
 
.Body h2 {
    overflow: hidden;
    border-right: .15em solid $appColor;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 3s steps(25, end) forwards;
}

.Body h2:nth-child(2) {
    animation-delay: 1s;
}

.Body h2:nth-child(3) {
    animation-delay: 2s;
}

.Body h2:nth-child(4) {
    animation-delay: 3s;
}

.Body h2:nth-child(5) {
    animation-delay: 4s;
}

.Body h2:nth-child(6) {
    animation-delay: 5s;
}

.Body h2:nth-child(7) {
    animation-delay: 6s;
}

.Body h2:nth-child(8) {
    animation-delay: 7s;
}

.Body h2:nth-child(9) {
    animation-delay: 8s;
}

.Body h2:nth-child(10) {
    animation-delay: 9s;
}

.Body h2:nth-child(11) {
    animation-delay: 10s;
}

.Body h2:nth-child(12) {
    animation-delay: 13s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; opacity: 0 }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: $appColor; 
            opacity: 0;}
}
