:root {
  color-scheme: dark;
}

body {
  overflow-x: hidden;
  margin: 0;
}

// React app mounting point
#root {
    width: 100vw;
    height: 100vh;
}

.Content {
    display: grid;
    grid-template-columns: minmax(175px, 17%) 1fr;
    width: 100vw;
    // margin: $appMargin;
    min-height: 80vh;
}

.Query {
  grid-column-start: 1;
  overflow-y: auto;
  overflow-x: hidden;

  overflow-y: auto;
  overflow-x: hidden;
}

.Construction {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  direction: column;

  img {
    width: 200px;
    height: 180px;
  }
}

// img {
//   max-width: 100%;
//   max-height: 50vh;
// }

@media screen and (max-width: 768px) {

  .Navigation {
    display: flex;
    flex-direction: row; 
  }

  .Navigation_branding {
    display: flex;
    flex-direction: column;
    align-items: left;
    // margin-top: 1rem;
  }

  .Navigation_links a {
    padding: 0;
  }

  .react-slideshow-container {
    margin: 6rem 1rem;
  }

}

@media screen and (max-width: 480px) {

  h1 {
    padding: 0;
    font-size: 2.7rem;
    line-height: 1;
    margin: 0;
  }

  .Navigation {
    margin: 1rem 1rem 0 1rem;
  }

  .Navigation a {
    flex: 0;
    display: inline;
    padding: 0;
  }

  .Navigation_branding {
    align-items: normal;

    h3 {
      padding: 0;
    }
  }

  h3 {
    font-size: 1rem;
    padding: .5rem $appPadding/2;
  }

  h4 {
    padding: $appPadding/2;
  }

  p {
    padding: $appPadding $appPadding/2;
  }

  img {
    max-width: 80%;
  }

  h2 {
    margin: $appPadding $appPadding $appPadding/2 $appPadding/2;
  }

  .Content {
    display: flex;
    flex-direction: column;

    .css-dmmspl-MuiFormGroup-root {
      display: inherit;
    }

    .css-zt11pp-MuiFormControlLabel-root {
      border: 1px solid #919295;
      border-radius: 5px;
      margin: 3px;
    }
    .css-zt11pp-MuiFormControlLabel-root .MuiFormControlLabel-label {
      border: none;
      margin: 0;
      padding: .4rem;
    }
    .css-15v22id-MuiAccordionDetails-root {
      padding: 0;
      margin-left: $appMargin;
    }

    .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
      margin: 10px 0;
    }

    .css-1lnbrrr-MuiAccordionDetails-root {
      margin: 0 0 0 0;
    }

    // .MuiFormGroup-root {
    //   padding-bottom: 1rem;
    //   border-bottom: 1px solid #3a4047;
    // }
  }

  .Project-Attributes {
    padding: 0;
  }

  .Project-Attr {
    padding: $appPadding/2;
  }

  .Project-Information {
    display: flex;
    flex-direction: column;
  }

}
