// React app mounting point
#root {
    width: 100vw;
    height: 100vh;
}

.Content {
    display: grid;
    grid-template-columns: [left] $queryColWidth [main] auto;
    grid-template-rows: [nav] $topNavHeight [body] auto;
    width: 100vw;
    padding: $appPadding;
    margin-bottom: $appMargin;
}

.Query {
  grid-column-start: 1;
  overflow-y: auto;
  overflow-x: hidden;

  overflow-y: auto;
  overflow-x: hidden;
}

.Construction {
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;

  img {
    width: 200px;
    height: 180px;
  }
}
