$fontPath: "../../../public/font/";


// Hind
// @font-face {
//     font-family: "Hind";
//     src: url(#{$fontPath + 'Hind/Hind-Light.ttf'}) format("ttf");
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: "Hind";
    src: url(#{$fontPath + 'Hind/Hind-Regular.ttf'}) format("ttf");
    font-weight: 400;
    font-style: normal;
}

// @font-face {
//     font-family: "Hind";
//     src: url(#{$fontPath + 'Hind/Hind-Medium.ttf'}) format("ttf");
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Hind";
//     src: url(#{$fontPath + 'Hind/Hind-SemiBold.ttf'}) format("ttf");
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Hind";
//     src: url(#{$fontPath + 'Hind/Hind-Bold.ttf'}) format("ttf");
//     font-weight: 700;
//     font-style: normal;
// }

//Amasis
@font-face {
    font-family: "Amasis";
    src: url(#{$fontPath + 'Amasis/Amasis MT Regular.ttf'}) format("ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: $baseFont;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    // letter-spacing: 0.1em;
}
  
// disable selection in the UI
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


h1 {
    font-family: Amasis;
}
