$baseFont: Hind, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 1.4em;

$appMargin: 0.625rem;
$appPadding: 0.625rem;
$appBorderRadius: 0.375rem;
$appIndent: 1.5rem;

$appColor: #ffffff;
$appColorSecondary: #919295;
$appColorDark: #1a1d1f;
$appColorFocus: #ea21ad;
$appColorInverted: #000000;

$appBorderColor: #4e5155;
$queryColWidth: 20rem;

$topNavHeight: 4rem;
