$baseFont: Hind, sans-serif;
$baseFontSize: 14px;
$baseLineHeight: 1.4em;

$appPadding: 0.625rem;
$appBorderRadius: 0.375rem;
$appIndent: 1.5rem;

$appColor: #ffffff;
$appColorSecondary: #919295;
$appColorDark: #08090b;
$appColorFocus: #03afbf;
$appColorInverted: #000000;

$appBorderColor: #4e5155;
$queryColWidth: 20rem;

$topNavHeight: 4rem;
