/* Slideshow */

.react-slideshow-wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slideContainer {
    margin: $appMargin;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.Slide {
    display: inline-block;
    text-align: center;
    padding: $appPadding;
    margin: $appMargin*3;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    background-size: 'cover';
}

.Page .Slide {
    max-height: 40vh!important;
}

/* Buttons */

.react-slideshow-wrapper {
    max-width: 800px;
}

.react-slideshow-container {
    margin: auto $appMargin*10;

}

.default-nav {
    background: $appColorFocus!important;
    width: 20px!important;
    height: 20px!important;
}

button.nav > svg {
    padding: 5px!important;
}

