/* Slideshow */

.react-slideshow-wrapper {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slideContainer {
    margin: $appMargin;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.Slide {
    display: inline-block;
    max-height: 80vh!important;
    // max-width: 100%;
    text-align: center;
    padding: $appPadding;
    margin: $appMargin*3;
}

.Page .Slide {
    max-height: 40vh!important;
}

/* Buttons */

.react-slideshow-container .default-nav {
    background: $appColorFocus!important;
    width: 20px!important;
    height: 20px!important;
}

button.nav > svg {
    padding: 5px!important;
}

