/* Slideshow */

.react-slideshow-container {
    margin: auto $appMargin*8;
}

.slideContainer {
    margin: 1rem auto;
    // min-height: 70vh;
}

.Slide {
    text-align: center;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.Slide img {
    max-height: 60vh;
}

.Page .Slide img {
    max-height: 40vh;
}

/* Buttons */

.default-nav {
    background: $appColorFocus!important;
    width: 20px!important;
    height: 20px!important;
}

button.nav > svg {
    padding: 5px!important;
}

