.Footer {
    width: 100%;
    height: 4rem;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding: $appPadding;
    background: white;
}

.Social-media a {
    padding: $appPadding;
    color: $appColorFocus;
}
