.Footer {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    // bottom: 0;
    // position: fixed;
    padding: $appPadding;
    background: #1c2022;
    margin-top: $appMargin;
    border-top: 1px solid #3a4047;
}

.Social-media a {
    margin: $appMargin;
    padding: $appPadding/2;
    color: $appColorFocus;
    border: 2px solid #1c2022;
}

.Social-media a:hover {
    border: 2px solid white;
    border-radius: 5px;
}
