// Navigation component styles

// Top navigation
.Navigation {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: flex;
  flex-direction: row;
  padding-top: $appMargin*2;
}

.Navigation_branding {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: $appPadding;

  h2 {
    color: $appColorFocus;
    font-size: 1.25rem;
  }
}

// Links
.Navigation a {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  padding: $appPadding;
}

// Links
.Navigation_links {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  padding: $appPadding;
}

.Navigation_links {

  a {
    padding: $appPadding;
    border-radius: $appBorderRadius;
    font-variant: small-caps;
    font-size: 1.15rem;
    letter-spacing: 0.03em;
  }

  a.active {
    font-weight: bold;
  }

  a:hover {
    color: $appColorFocus;
  }

}
