.Page {
    display: grid;
    grid-template-columns: 1fr minmax(175px, 17%); 
}

.Project-Main {
    padding: $appPadding;
    margin: $appMargin;
}

.Project-Information {
    display: grid;
    grid-template-columns: minmax(150px, 500px) 1fr;
}

.Project-Attributes {
    padding: $appPadding;
    background: #1c2022;
    border-left: 1px solid #3a4047;
    min-height: 80vh;
    height: 100%;
}

.SlideShow {
    width: 50vw;
}

.Project-Role, 
.Project-Tools,
.Project-Design,
.Project-Medium,
.Main-Image {
    padding: $appPadding;
}

.Role, .Tool, .Design, .Medium {
    margin-left: $appMargin;
}
