.Page {
    display: grid;
    grid-template-columns: 1fr minmax(175px, 17%);
    overflow-y: scroll;
}

.Page .slideContainer {
    min-height: calc(50vh - 2.5rem);
}

.Project-Main {
    padding: $appPadding;
    margin: $appMargin;
}

.Project-Information {
    display: grid;
    grid-template-columns: minmax(150px, 500px) 1fr;
}

.Project-Attributes {
    padding: $appPadding;
    background: #1c2022;
    border-left: 1px solid #3a4047;
    min-height: 80vh;
    height: 100%;
}

.SlideShow {
    width: 50vw;
}

.Project-Attr,
.Main-Image {
    padding: $appPadding $appPadding 0 $appPadding;
}

.Project-Description {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 30%);
}

.Attr {
    margin-left: $appMargin;
}
