.Page {
    // display: grid;
    // grid-template-columns: 1fr minmax(50px, 5%);
    overflow-y: scroll;
    width: 100vw;
    overflow-x: hidden;
    padding: $appPadding;
    margin: $appMargin;
}

.Page-Header {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: center;
    justify-content: space-between;
    flex: 1 1 90vw; /*  Stretching: */
    // flex: 0 1 90vw; /*  No stretching: */
    // margin: 5px;
}

.Page .slideContainer {
    min-height: calc(50vh - 2.5rem);
}

.Project-Information {
    display: grid;
    grid-template-columns: minmax(150px, 500px) 1fr;
}

.Project-Attributes {
    padding: $appPadding;
    background: #1c2022;
    border-left: 1px solid #3a4047;
    min-height: 80vh;
    height: 100%;
}

.SlideShow {
    width: 50vw;
}

.Project-Attr,
.Main-Image {
    padding: $appPadding $appPadding 0 $appPadding;
}

.Project-Attr:first-child {
    margin-top: $topNavHeight;
    // border-top: 1px solid #3a4047;
}

.Project-Attr h3 {
    border-top: 1px solid #3a4047;
    padding: $appPadding;
    border-radius: 0;
    padding-bottom: .5rem;
}

// .Project-Attr:last-child {
//     border-bottom: 1px solid #3a4047;
// }

.Project-Description {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 30%);
}

.Attr {
    margin-left: $appMargin;
    color: $appColor;
}


// Page Navigation

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  transition: all .3s;
}
  
.center {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  border: 5px solid #eee;
  border-radius: 50%;
}

.radial-nav {
//   position: relative;
  width: 300px;
  height: 300px;
  margin: 150px auto;  
  background: white;
  border: 5px solid #eee;
  border-radius: 50%;
}
  
.radial-nav ul {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
  
.radial-nav ul li {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 160px;
  height: 160px;
  transform-origin: 100% 100%;
  overflow: hidden;
}
  
.radial-nav ul li a {
  background: rgba(#3498db, .4);
  display: block;
  text-align: center;
  font-size: 30px;
  width: 160px;
  height: 160px;
  margin-top: 40px;
  margin-left: 40px;
  line-height: 100px;
  color: #fff;
  transform: skew(-30deg) rotate(-60deg);
}
  
.radial-nav ul li a:hover {
  background: rgba(#3498db, .6);
}

.radial-nav ul li:nth-child(1) {
  transform: rotate(0deg) skew(30deg);
}
   
.radial-nav ul li:nth-child(2) {
  transform: rotate(60deg) skew(30deg);
}
  
.radial-nav ul li:nth-child(3) {
  transform: rotate(120deg) skew(30deg);
}
    
.radial-nav ul li:nth-child(4) {
  transform: rotate(180deg) skew(30deg);
}
   
.radial-nav ul li:nth-child(5) {
  transform: rotate(240deg) skew(30deg);
}
  
.radial-nav ul li:nth-child(6) {
  transform: rotate(300deg) skew(30deg);
}
