.Item-Container {
    margin-top: $appMargin;
    padding: $appPadding;
    text-align: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Portfolio-Item h2,
.Portfolio-Item h3 {
    text-align: left;
}

.Portfolio-Item {
    margin: $appMargin;
    padding: $appPadding;
    border: #3a4047 1px solid;
    background-color: #1c2022;
    border-radius: $appBorderRadius;
}

.Portfolio-Item img {
    max-height: 30vh;
    padding: $appPadding;
}

.Portfolio-Item:hover {
    border: 1px solid $appColorFocus;
}

.Tag-Container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
}

.Tag,
.btn {
    font-size: .8rem;
    color: $appColorSecondary;
    padding: $appPadding/3 $appPadding/2;
    margin: $appPadding/3 $appPadding/2;
    border-radius: 5px;
    border: 1px solid $appColorSecondary;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 0px;
}

.Tag:hover {
    cursor: default;
}

/* Style the buttons */
.btn {
    outline: none;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    border: 1px solid $appColorFocus;
    color: white;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: $appColorFocus;
    border: 1px solid $appColorFocus;
    color: white;
    font-weight: bold;
}

.Portfolio-Item-Showcase-Container {
    margin-top: $appMargin;
    padding: $appPadding;
    text-align: center;
    display: grid;
}

.Portfolio-Item-Showcase {
    margin: $appMargin;
    padding: $appPadding;
}

.Portfolio-Item-Showcase img {
    max-height: 60vh;
    padding: $appPadding;
    max-width: 60vw;
}
